@import "tailwindcss";

@font-face {
  font-family: 'Fontin-SmallCaps';
  src: url('/fonts/Fontin-SmallCaps.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Fontin-SmallCaps', sans-serif;
  margin: 0;
  padding: 0;
}